
#font
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.alfa-slab-one-regular {
  /*-제일 볼드*/
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/* <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */
.bitter-<uniquifier> {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.antic-slab-regular {
  font-family: "Antic Slab", serif;
  font-weight: 400;
  font-style: normal;
}




h1.Point { 
  font-family: "Alfa Slab One", serif;
  padding-top: 12px;
  font-size: 37px;
}




img {margin:10px;}



* {
    box-sizing: border-box;
}


html {
  margin: 0;
}
body {
    font-family: "Bitter", serif;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #fffefc;
    color: #333;
}
section {
  padding: 40px 25px;
} 

.bg-color {
  background-color: #f8f5f2; /* 포인트 컬러의 아주 연한 버전 */
  /* Muted Sand:  그레이시, 깔끔, 고급 [#f8f5f2] */
}



/*첫번째 페이지******************************************************/
header {
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
   }
header p {
  font-size: 23px;
  margin:0;
}
.main_baby {margin-left:5px; margin:0 auto; display:block; }
.bg-box {
  position: relative;
  /*height: 400px;*/
  margin-left: 20px;
  margin-right: 20px;
}

.bg-img {
  position: absolute;
  scale: 1.25;
  top: 0;
  left: -1.5%;
  width: 113%;
  max-width: 100%;
  height: auto;
  z-index: 0; /* 배경처럼 뒤로 보내기 */
}
.bg-box::before {
  background-size: 150%;
  background-position: center center; /* 👈 반드시 넣기 */
  background-repeat: no-repeat;
}

h2.main-date {
  background-image: url("image/underline02.png");
  background-size: cover;
    background-position: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: -34px;
    margin-bottom: 40px;
    /* z-index: auto; */
    position: relative;
    color: #fffefc;
     
}




p {
  font-size: 20px;
  font-weight: 500;
}
h1 {
    margin: 0;
    font-size: 35px;
}
h2{
  font-size: 30px;
  margin-bottom: 35px;
}
h3{
  font-size: 27px;
}
h4{
  font-size: 24px;
}

iframe {
    width: 90%;
    max-width: 500px;
    border: none;
    border-radius: 8px;
}
/* section {
    margin: 20px 0;
    padding: 10px;
} */
img {
    max-width: 90%;
}



/* SAVE THE DATE */
.calendar {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.calendar th, .calendar td {
  /* border: 1px solid #fffefc; */
  padding: 10px;
}

.calendar td {
  height: 40px;
  text-align: center;
}

.calendar td:nth-child(1) {
  color: #c13c35; /* Sundays in red */
}

/* td.theday { font-weight: 600; font-size: larger;
  background: no-repeat;
  background-image: url("image/deco_heart01.png");
  background-position: center;
  background-size: contain;
  color: #fffefc;
} */

td.theday {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  color: #fffefc;
  z-index: 1;
}

td.theday::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 140%;  /* td보다 더 크게 */
  height: 140%;
  background-image: url(image/deco_heart01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1; /* 글씨보다 뒤로 */
}


.ribbon-frame {
  position: relative;
  text-align: center;
  /* padding: 10px 10px; 기본 여백 (리본과 내용 간격) */
  box-sizing: border-box;
  overflow: visible; /* 리본이 섹션 밖으로 나가도 보이게 */
}

/* 위쪽 리본 */
.ribbon-frame::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 120px; /* 리본 높이 */
  background: url("image/frame_bow_top.png") no-repeat right top;
  background-size: contain;
  pointer-events: none; /* 클릭 안되게 */
}

/* 아래쪽 리본 */
.ribbon-frame::after {
  content: "";
  position: absolute;
  left: -0;
  bottom: 3px;
  width: 100%;
  height: 120px;
  background: url("image/frame_bow_bottom.png") no-repeat left bottom;
  background-size: contain;
  pointer-events: none;
}

.drawing_bell.img-drawing {
  margin-top: 20px;
  width: 100px;
}


/* Countdown */
.countdown {
    font-size: 19px;
    margin: 0;
}

.section-countdown {
  background: url("image/deco_heart_big.png") no-repeat center center;
  content: "";
  position: relative;
  width: auto;
  height: 302px;
  background-size: cover;
  padding: 65px 0;
  color: #fffefc;
}
.section-countdown h4 {
  margin-bottom: 15px;
}

/* Our Little spot */
iframe {
  width: 90%;
  max-width: 500px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.img-drawing {
  width: 120px;
}


/* Our big day plan */
.schedule-item {
    display: flex;           /* Flexbox 적용 */
    align-items: center;     /* 세로 중앙 정렬 */
    justify-content: space-between;
    margin: 20px 0;
}

.schedule-item .schedule-text,
.schedule-item .schedule-img {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.plan-one .schedule-text, 
.plan-three .schedule-text {
  text-align: right;
} 
.plan-two .schedule-text, 
.plan-four .schedule-text {
  text-align: left;
} 

.schedule-img {
  text-align: right;
  vertical-align: middle;
  align-items: center;
  
}
.schedule-img img {
   width: 100px;
    height: auto;
    display: block;
}





/**/
/**/


.rsvp {
    margin-top: 30px;
}
@media (max-width: 600px) {
    h1 { font-size: 40px; }
   // .countdown { font-size: 1.2em; } //
}
