
#font
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.alfa-slab-one-regular {
  /*-제일 볼드*/
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h1.Point { font-family: "Alfa Slab One", serif;}


img {margin:10px;}





body {
    font-family: "Abril Fatface", sans-serif;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #fffefc;
    color: #333;
}


/*첫번째 페이지******************************************************/
header {
    padding-top: 95px;
    padding-bottom: 30px;
   }

.main_baby {margin-left:5px; margin:0 auto; display:block; }
.bg-box {
  position: relative;
  /*height: 400px;*/
}

.bg-img {
  position: absolute;
  scale: 1.25;
  top: 0;
  left: -1.5%;
  width: 113%;
  max-width: 100%;
  height: auto;
  z-index: 0; /* 배경처럼 뒤로 보내기 */
}
.bg-box::before {
  background-size: 150%;
  background-position: center center; /* 👈 반드시 넣기 */
  background-repeat: no-repeat;
}






p {
  font-size: 20px;
}
h1 {
    margin: 0;
    font-size: 40px;
}
h2{font-size: 35px;}
h3{font-size: 30px;}
.countdown {
    font-size: 25px;
    margin: 20px 0;
}
iframe {
    width: 90%;
    max-width: 500px;
    border: none;
    border-radius: 8px;
}
section {
    margin: 20px 0;
    padding: 10px;
}
img {
    max-width: 90%;
    border-radius: 8px;
}



/* SAVE THE DATE */
.calendar {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  border: 1px solid #ccc;
  padding: 5px;
}

.calendar td {
  height: 40px;
  text-align: center;
}

.calendar td:nth-child(1) {
  color: rgb(218, 65, 65); /* Sundays in red */
}

td.theday { font-weight: 500; font-size: larger; }


/* Our Little spot */
iframe {
  width: 90%;
  max-width: 500px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.img-drawing {
  width: 120px;
}


/* Our big day plan */
.schedule-item {
    display: flex;           /* Flexbox 적용 */
    align-items: center;     /* 세로 중앙 정렬 */
    justify-content: space-between;
    margin: 20px 0;
}

.schedule-item .schedule-text,
.schedule-item .schedule-img {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.plan-one .schedule-text, 
.plan-three .schedule-text {
  text-align: right;
} 
.plan-two .schedule-text, 
.plan-four .schedule-text {
  text-align: left;
} 

.schedule-img {
  text-align: right;
  vertical-align: middle;
  align-items: center;
  
}
.schedule-img img {
   width: 100px;
    height: auto;
    display: block;
}





/**/
/**/


.rsvp {
    margin-top: 30px;
}
@media (max-width: 600px) {
    h1 { font-size: 40px; }
   // .countdown { font-size: 1.2em; } //
}
